.vscode/launch.json
.vscode/tasks.json
bin/Debug/net7.0/AI.NET.deps.json
bin/Debug/net7.0/AI.NET.dll
bin/Debug/net7.0/AI.NET.exe
bin/Debug/net7.0/AI.NET.pdb
bin/Debug/net7.0/AI.NET.runtimeconfig.json
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/AI.NET.AssemblyInfo.cs
obj/Debug/net7.0/AI.NET.AssemblyInfoInputs.cache
obj/Debug/net7.0/AI.NET.assets.cache
obj/Debug/net7.0/AI.NET.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/AI.NET.csproj.FileListAbsolute.txt
obj/Debug/net7.0/AI.NET.dll
obj/Debug/net7.0/AI.NET.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/AI.NET.genruntimeconfig.cache
obj/Debug/net7.0/AI.NET.GlobalUsings.g.cs
obj/Debug/net7.0/AI.NET.pdb
obj/Debug/net7.0/AI.NET.sourcelink.json
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/ref/AI.NET.dll
obj/Debug/net7.0/refint/AI.NET.dll
/obj/Release/net7.0
/.vs/AI.NET/FileContentIndex
/.vs/AI.NET/v17
/.vs
